<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']">Pokemon</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/ability']" [routerLinkActive]="['active']">Abilities</a>
        <a class="nav-item nav-link" [routerLink]="['/move']" [routerLinkActive]="['active']">Moves</a>  
    </div>
</nav>
<section class="flex-grow-1 overflow-auto">
  <router-outlet></router-outlet>
</section>
<footer  class="p-3  bg-light text-dark"> 
  &copy; 2019 zach's 4th app 
</footer>